@import 'font-awesome';
@import 'color';
@import "bootstrap";

.body{
  padding: 6% 0 0 10%;
  width: 90%;
}

.filter-button{
  width: 35px;
  height: 20px;
  border-radius: 3px;
  background: $blue;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
  box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
  &:hover{
  box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
  }
}

.form-3{
  select{
    padding: 0 10%;
  }
}
.form-label{
  font-weight: 700;
}


#select-btn{
  margin: 2.5% 2% 1% -1%;
}

#filter-form{
  margin-left: 1%;
  margin-top: 1%;
}

.course_price{
  a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: $blue;
  }
}

.paginator{
  padding-top: 2%;
  margin-left: 16px;
}

h2.headertekst {
  text-align: center;
  color: $orange;
}

.course_info{
  height: 68px;
  margin-top: 28px;
}

.sidebar_teacher{
  box-shadow: 0 1px 20px rgba(3,7,146,0.1);
  height: 188px;
}

.teacher_meta{
  width: 30%;
  margin-left: 2%;
}

.teacher_image{
  width: 105px;
  height: 66px;
}

.teacher_title_container{
  margin-left: 2%;
  padding-top: 2%;
}

.course_info_items{
  text-align: center;
  padding-left: 0px;
}

.course_footer{
  height: 78px;
}

.drop-list{
  margin-left: 10%;
}
